$texto: #fff;

$base: #33393b;
$baseB1: #474C4E;
$baseD1: #232729;
$baseD2: #191c1d;
$baseD3: #141717;
$baseD4: #0f1111;
$fondo: #050505;

$precio: #8BFF8B;
$cantidad: #338bff;

$secundario: #ff0044;
$secundarioN1: #D10038;
$secundarioN2: #A3002C;

$secundario2: #ffc445;
$secundario2: #ffd06a;