@use '@/app/ui/colores';

.cobro-app {
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > * {
    max-width: 480px;
    width: 100%;
  }
}

.buscar-productos-cont {
  max-height: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colores.$baseD3;
  padding: 1.5rem;
  border-bottom: 1px solid colores.$base;
  $borde-producto-vertical: 2px dashed colores.$secundario;
  $borde-producto-horizontal: 2px dashed colores.$secundario;
  [data-tipo-producto="buscar"] {
    //white-space: nowrap;
    justify-content: center;
    font-size: 1.25em;
    padding: 1rem 0rem;
    padding-left: 1rem;
    border-bottom: $borde-producto-vertical;
    border-left: $borde-producto-horizontal; border-right: $borde-producto-horizontal;
    &:nth-child(odd) {
      background-color: colores.$baseD1;
    }
    &:hover {
      text-decoration: underline;
      color: colores.$secundario;
      text-decoration-color: colores.$secundario;
    }
    &:first-child {
      border-top: $borde-producto-vertical;
    }
  }
}

.buscar-producto-form {
  display: flex;
  padding-bottom: 1rem;
  justify-content: center;
  width: 100%;
}

.buscar-producto-texto {
  background-color: #33393b;
  border: none;
  text-align: center;
  width: 95%;
  padding: 0.4rem;
  font-size: 1.15rem;
}

.cuenta-cont {
  display: flex;
  max-height: 60%;
  height: 60%;
  flex-direction: column;
  align-items: center;
  background-color: colores.$baseD3;
  padding: 1.5rem;
}

.cuenta-total {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  span {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    background-color: colores.$secundario;
    color: #fff;
  }
}

.cuenta-productos-cont {
  width: 100%;
  overflow: auto;
  height: 65%;

  [data-tipo-producto="cuenta"] {
    padding: 0.3rem 0.75rem;
    font-size: 1.15em;
    background-color: colores.$baseD4;
    border-bottom: 1px solid colores.$base;
    justify-content: space-between;
    color: colores.$secundario2;
  }
}

.cuenta-cambio {
  background-color: colores.$baseD3;
  width: 100%;
  padding: 2rem 0rem;
  .cuenta-cambio-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.15rem;
  }
  .cuenta-pago {
    width: 50%;
    background: colores.$baseD1;
    color: colores.$texto;
    font-size: 1.15rem;
    border: none;
    padding: 0.25rem;
    text-align: center;
  }
}

.cuenta-aceptar {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin: 0rem 0rem;
  color: #fff;
  background: colores.$baseD1;
  &:hover {
    background: colores.$base;
  }
  &:disabled {
    cursor: not-allowed;
    text-decoration: line-through;
  }
  border: none;
}

.producto-cuenta-quitar {
  border: none;
  padding: 0.15rem 0.20rem;
  background-color: colores.$baseD1;
  color: colores.$secundario;
  &:hover {
    background: colores.$base;
  }
}

@media screen and (max-height: 500px) {
  .cobro-app {
    max-height: 200vh;
    height: 200%;
  }  
}