@use '@/app/ui/colores';

.producto {
  display: flex;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;

  &-nombre {
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  &-precio {
    display: inline-flex;
    align-items: center;
    text-align: right;
    padding: 0rem 1rem;

    &::before {
      content: '$';
    }
  }
}

.productos-buscar {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.productos-gestion{
  display: flex;
  flex-direction: column;

  .producto-gestion {
    $borde-color: colores.$base;
    background: colores.$baseD3;
    color: colores.$texto;
    display: flex;
    height: 100%;
    border-bottom: 1px solid $borde-color;

    &__nombre, &__precio, &__acciones {
      padding: 0.25rem;
      border-collapse: collapse;
      text-transform: uppercase;
      border-left: 1px solid $borde-color;
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-child {
        border-right: 1px solid $borde-color;
      }
    }
    &__nombre {
      -webkit-user-select: text;
      user-select: text;
    }
    &__acciones {
      .boton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff4d4d;
        color: white;
        border: none;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
      }
    }
  }
}

.productos-cuenta {
  width: 100%;
  .producto-cuenta {
    width: 100%;

    &__nombre, &__precio, &__cantidad, &__acciones {
      padding: 0.5rem 0rem;
      display: inline-flex;
      align-items: center;
    }

    &__nombre {
      width: 75%;
    }

    &__precio {
      font-size: 1rem;
      //padding: 0rem 1rem;
      padding-right: 0.75rem;
      color: colores.$precio;
      text-align: center;
    }
    &__cantidad {
      text-align: center;
      //padding: 0rem 0.5rem;
      padding: 0rem 0.75rem;
      text-align: left;
      color: colores.$cantidad;
      font-size: 1rem;
    }
    &__acciones {
      text-align: center;
    }
  }
}
