@use '@/app/ui/colores';
// Ver si es mejor tener este css para darle estilo a todos los tipos de lista 
  // (ya que este css y el archivo tsx que lo utiliza funcionan para generar cualquier tipo de lista de productos a ser utilizada) o separarlos

.producto {
  -webkit-user-select: none;
  user-select: none;
  text-transform: capitalize;
  color: colores.$texto;

  .precio {
    &::before {
      content: '$';
    }
  }
}



.productos-busqueda {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;

  .producto {
    display: flex;
    width: 100%;
    font-size: 1.25em;
    padding: 10px;
    &:hover {
      color: colores.$secundario2;
    }
  }
  .subrayado-completo:empty {
    border-bottom: 1px dashed colores.$precio;
    display: block;
    position: relative;
    top: -50%;
    flex-grow: 50;
  }
  .nombre {
    flex-grow: 2;
  }

  .precio {
    text-align: center;
    align-self: center;
    padding-left: 10px;
    color: colores.$precio;
  }
}

.productos-gestion {
  display: flex;
  flex-direction: column;

  .producto {
    $borde-color: colores.$base;
    background: colores.$baseD3;
    color: colores.$texto;
    display: flex;
    height: 100%;
    border-bottom: 1px solid $borde-color;
    
    &:hover {
      filter: brightness(0.80);
    }

    .nombre, .recio, .acciones {
      border-collapse: collapse;
      text-transform: uppercase;
      border-left: 1px solid $borde-color;
      display: flex;
      &:last-child {
        border-right: 1px solid $borde-color;
      }
    }
    .nombre {
      padding: 0.25rem;
      width: 80%;
      padding: 10px 10px;
      -webkit-user-select: text;
      user-select: text;
    }
    .precio {
      padding: 0.25rem;
      width: 16%;
      font-size: 1rem;
      justify-content: center;
      color: colores.$precio;
    }
    .acciones {
      justify-content: center;
      width: 4%;
    }
  }
}

.productos-cuenta {
  width: 100%;
  .producto {
    width: 100%;

    .nombre, .precio, .cantidad, .acciones {
      padding: 0.5rem 0rem;
      display: inline-flex;
      align-items: center;
    }

    .nombre {
      width: 75%;
    }

    .precio {
      font-size: 1rem;
      //padding: 0rem 1rem;
      padding-right: 0.75rem;
      color: colores.$precio;
      text-align: center;
    }
    .cantidad {
      text-align: center;
      //padding: 0rem 0.5rem;
      padding: 0rem 0.75rem;
      text-align: left;
      color: colores.$cantidad;
      font-size: 1rem;
    }
    .acciones {
      text-align: center;
    }
  }
}
