@use '@/app/ui/colores';

.total-ventas {
  background-color: colores.$baseD1;
  padding: 0.5rem;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  .total-ventas__cantidad {
    text-decoration: underline;
    letter-spacing: 1px;
  } 

}

.recibos-lista {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: center;

  .recibo {
    max-width: 480px;
    width: 100%;
    border: 1px solid colores.$baseD1;
    border: 1px solid colores.$base;
    padding: 0.5rem;
    position: relative;

    .borrar {
      padding: 1px 15px;
      background-color: colores.$secundarioN1;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
    }

    .informacion {
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      padding: 0.75rem 0.5rem;

      .fecha {
        width: 75%;
        text-align: left;
      }

      .total {
        width: 25%;
        text-align: center;
        color: colores.$secundario2;
      }
    }

    .productos {
      .cabecera {
        font-weight: 600;
        padding: 0.25rem;
        background-color: colores.$base;

        .nombre {
          width: 60%;
        }
        .precio {
          text-align: center;
          width: 30%;
        }
        .cantidad {
          text-align: center;
          width: 10%;
        }
      }

      .producto {
        padding: 0.45rem 0.35rem;
        display: flex;
        text-transform: capitalize;
        border-bottom: 1px dashed colores.$base;

        :last-child {
          border-bottom: none;
        }

        .nombre {
          width: 60%;
          i {
            letter-spacing: 1px;
          }
        }

        .precio {
          width: 30%;
          text-align: center;
          color: #8BFF8B;
        }
        .cantidad {
          text-align: center;
          width: 10%; 
          color: #338bff;
        }
      }
      
    }
  }
}